* {
  box-sizing: border-box;
}

.container {
  width: 980px;
  margin: 0 auto;
}

h1 {
  font-family: "Brush Script MT", cursive;
  font-size: 50px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  margin-left: 110px;
  margin-bottom: -25px;
}

.page-catalog h2 {
  font-family: "Verdana", "Tahoma", sans-serif;
  font-size: 30px;
  margin-top: -10px;
}

.page-pricelist h2 {
  font-family: "Verdana", "Tahoma", sans-serif;
  font-size: 30px;
  margin-top: -10px;
}

.page {
  display: flex;
  flex-direction: column;
  min-width: 640px;
  min-height: 100vh;
  margin: 0;
  font-family: "Verdana", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  background-color: #ffffff;
}

.page-table {
  margin-right: 400px;
}

.page-information {
  text-align: right;
  font-size: 24px;
  /*text-decoration: underline;*/
  /*word-spacing: 10px;*/
  margin-bottom: -60px;
  /*margin-top: 20px;*/
  color: #000000;
  text-decoration: none;
}

.section-title {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

a.header {
  font-size: 24px;
  color: #000000;
}

/*a:focus {
  outline-color: #b6aaff;
}*/

.page-header {
  margin-bottom: 40px;
  color: #333333;
  background-color: #fff5ee;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.page-header .container {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("aa-logo.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100px 100px;
}

.page-header a {
  /*font-size: 16px;*/
  line-height: 24px;
}

.page-title {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 32px;
 }

.about-image {
   width: 100px;
   height: 100px;
   /*border-radius: 50%;*/
 }

.about-content {
   width: 410px;
   font-size: 14px;
   line-height: 24px;
 }

.about-content p {
   margin: 0;
   margin-bottom: 12px;
   padding: 0;
 }

.status {
  margin-bottom: 32px;
}

.status p {
  margin: 0;
  padding-top: 12px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  border-radius: 32px 0;
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  color: #333333;
  background-color: #ffffff;
}

.contacts {
  margin-bottom: 82px;
}

.contacts img {
  width: 146px;
  height: 146px;
  margin-right: 24px;
}

.contacts p {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
}

p.contacts-name {
  margin-top: 20px;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 20px;
}

/*.contacts a {
  font-size: 16px;
  line-height: 24px;
}*/

.page-footer {
  margin-top: auto;
  color: #000000;
  background-color: #fff5ee;
}

.page-footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
}

.page-footer p {
  margin: 0;
  padding: 0;
}

.page-map {
  margin-left: 300px;
}

.about-text {
  margin-top: -550px;
  margin-left: 880px;
  font-size: 14px;
}

.image {
  margin-right: 300px;
}

.text-catalog {
  font-family: "Verdana", "Tahoma", sans-serif;
  font-size: 18px;
}

/*.page-map a {
  font-size: 14px;
}*/